<html>
<head>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <script>
    function submitData() {
        console.log('here');
        var name = $('#name').val();
        var age = $('#age').val();
        var birth = $('#birth').val();
        console.log('here'+ birth);

        $.ajax({
            url:"/data/",
            type:"POST",
            data:{
                'name': name,
                'age': age,
                'birth': birth
            },
            success:function(arg){
                res = JSON.parse(arg);
            }, 
            error:function(){
                console.log("failed"); 
            } 
        });
    }
    </script>
</head>
<body>
    <!-- <label>name</label><input id='name'><br>
    <label>age</label><input id='age'><br>
    <label>birth</label><input id='birth'><br>
    <button onclick="submitData()">submit</button> -->
    <form method="POST" action="/emit">
        <label>name</label><input name='name'><br>
        <label>age</label><input name='age'><br>
        <label>birth</label><input name='birth'><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>